body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f7;
    color: #145A32;
}

header {
    background-color: #145A32;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header a {
    color: #fbfcfc;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

header a:hover {
    background-color: #145A32;
    border-radius: 5px;
}

header a.active {
    background-color: #27AE60;
    font-weight: bold;
    border-radius: 5px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
}

h1, h3 {
    color: #145A32;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.75em;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}

p {
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: justify;
}

pre {
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: justify;
}

.pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.footer {
    background-color: #145A32;
    color: #fbfcfc;
    padding: 25px 0;
    text-align: center;
    margin-top: 50px;
}

.footer a {
    color: #fbfcfc;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #3498db;
}

.footer p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

