/*Google Font Link*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Robot', sans-serif;
  scroll-behavior: smooth;
}

/*Scroll Bar*/
::scrollbar{
  width: 10px;
}
::scrollbar-color{
  background: #ffffff;
}
::scrollbar-thumb{
  border: 12px;
  transition: all 0.2s ease;
  background: #ffffff;
}
::scrollbar-thumb: hover{
  background: #ffffff;
}

/* navigation baar */
nav{
  width: 100%;
  padding: 20px 0;
  transition: all 0.3s ease;
  z-index: 998;
  font-family: 'Robot', sans-serif;
  position: fixed;
}
nav.navbar{
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
nav.sticky{
  background: #7b3448;
  padding: 13px 0;
}
nav.navbar .logo a{
  font-size: 35px;
  font-weight: 500;
  color: #7b3448;
}
nav.sticky .navbar .logo a{
  color: #ffffff;
}
nav.navbar .Homepage{
  positive: relative;
  display: flex;
}
nav.navbar .Homepage li{
  margin: 0 px;
  list-style: none;
}
.navbar .Homepage a{
  padding: 6px 0;
  font-size: 18px;
  font-weight: 500;
  color: #ff949b;
  transition: all 0.3s ease;
}
.navbar .Homepage a: hover{
  color: #7b3448;
}
nav.sticky .Homepage a{
  color: #ffffff;
}
nav .sticky .Homepage a: hover{
  color: #ff949b;
}
.navbar .icons a{
  color: #7b3448;
  margin: 0 6px;
  font-size: 18px;
}
nav.sticky .icons a{
  color: #ffffff;
}

/*Home section style*/
.Home{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background: url("me.png") no-repeat;
  font-family: 'Robot', sans-serif;
}

.Home .con{
  height: 100%;
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}
.Home .h1{
  font-size: 25px;
  color: #ff949b;
}
.Home .h2{
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  color: #ff949b;
}
.Home .h3{
  font-size: 40px;
  margin: 5px 0;
  color: #7b3448;
}
.Home .h4{
  font-size: 23px;
  margin: 5px 0;
  color: #ff949b;
} 

/*About me section style*/
section{
  padding-top: 40px;
}
section .con{
  font-family: 'Robot', sans-serif;
  margin: 40px auto;
  width: 80%;
}
.About .Ab-details{
  justify-content: space-betweeen;
  display: flex;
  align-itemms: center;
}
.title{
  font-size: 30px;
  font-weight: 600;
  color: #7b3448; 
  postion: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 8 px;
  margin-bottom: 40px;
  
}
.About .Ab-details .l{
  width: 45%;
}
.About .l img{
  width: 400px;
  height:400px;
  border-radius: 12px;
  object-fit: cover;
}
.Ad-details .r p{
  width: 55%;
}
section .matter{
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
  color: #ff949b;
}
.Ab-details .r p{
  color: #ff949b;
  text-align: justify;
}

/*Skills section style*/
.Skills{
  background: #ffcbd4
}
.Skills .con{
  padding: 40px 0;
}
.Skills .Sk-details{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.Sk-details .matter{
  width: 50%
}
.Sk-details p{
  text-align: justify;
  color: #ff949b;
}

/*Education section style*/
.Education{
  background:#ffcbd4
}
.Education .con{
  padding: 40px 0;
}
.Education .Ed-details{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.Ed-details .matter{
  width: 50%
}
.Ed-details p{
  text-align: justify;
  color: #ff949b;
}

/*Contact me section style*/
.Contact{
  background: #ffcbd4;
}
.Contact .con{
  margin: 0 auto;
  padding: 30px 0;
}
.Contact .matter{
  width: 80%
  text-align: center;
  margin: auto;
}

/*Footer section style*/
footer{
  font-family: 'Robot', sans-serif;
  padding: 15px 0;
  text-align: center;
  background: #7b3448;
}
footer .matter span{
  color: #ffffff;
  font-weight: 400;
  font-size: 17px;
}
footer .matter span a{
  color: #ffffff;
  font-weight: 500;
}
footer .matter span a: hover{
  text-decoration: underline;
}

/*scroll Up style*/
.scroll a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #7b3448;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}
/*Responsive Media Query*/
@media (max-width: 1190px) {
  section .con{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .About .Ab-details{
    justify-content: center;
    flex-direction: column;
  }
  .About .Ab-details .l{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .Ab-details .r{
    width: 90%;
    margin: 40px 0;
  }
}
@media (max-width: 900px) {
  .About .l img{
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 750px) {
  nav .navbar{
    width: 90%;
  }
  nav .navbar .Homepage{
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar .active .Homepage{
    left: 0;
  }
  nav .navbar .Homepage a{
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .Homepage a:hover{
    color: #4070f4;
  }
  nav .navbar .icons{
    display: none;
  }
  nav .menu,
  .navbar .Homepage .cancel{
    display: block;
  }
  .Home .h2{
    font-size: 65px;
  }
  .Home .h3{
    font-size: 35px;
  }
  .Skills .Sk-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .Sk-details .matter{
    width: 100%;
    margin-bottom: 50px;
  }
  .Contact .matter{
    width: 100%;
  }
}
@media (max-width: 500px){
  .Home .h2{
    font-size: 55px;
  }
  .Home .h3{
    font-size: 33px;
  }
}
