@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Robot', sans-serif;
}
.About-me{
  height: 100vh;
  width: 100%
  padding: 90px 0;
  background: #ffe700;
}
.pic{
  height: auto;
  width: 400px;
}
.About{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h4{
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}
.text p{
  font-size: 18px;
  line-weight: 30px;
  letter-spacing: 1px;
}
.data{
  margin-top: 30px;
}
.learning{
  font-size: 18px;
  background: #000000;
  color: #ffe700;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
